<style>

#contact input,textarea{
    color:#3A3A3A;
    font-family: 'Noto Sans TC';
    font-weight:400;
}
#contact  .text-muted{
            font-family: 'Noto Sans TC';
            font-weight:400;
        }
</style>
<section id="contact">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">聯絡我們</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--novalidate-->
                <form name="sentMessage" id="contactForm" action="http://formspree.io/hahalin@gmail.com" method="POST" >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="你的稱謂 *" id="name" name="name" required data-validation-required-message="請輸入您的稱謂">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="您的Eamil *" id="email" name="email" required data-validation-required-message="請輸入您的Eamil">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="聯絡電話 *" id="phone" name="phone" required data-validation-required-message="請輸入您的聯絡電話">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="留言內容 *" id="message"  name="message" required data-validation-required-message="請輸入留言內容"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">送出</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>