<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted" style="font-family: 'cwTeXHei';">做到說到、說到做到</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">專案開發</h4>
                    <p class="text-muted">根據您的需求，在可預期的時間內，提供完善品質的客製化應用系統</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">系統維護</h4>
                    <p class="text-muted">現有系統功能擴充、修改Bug，重新改寫</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">與世界同步的程式碼管理</h4>
                    <p class="text-muted">我們整合使用GitHub來進行團隊協作與程式碼版本管理，提供您與世界級軟體公司同步的管理品質</p>
                </div>
            </div>
        </div>
    </section>